.full-recipe-navbar {
    width: 100vw;
    
    height: 3rem;
}

.full-recipe-back {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
}

.full-recipe-container {
    background-color: #def1ca;
    min-height: 100vh;
}

.full-recipe-image-container {
    width: 100%;
    height: 18rem;
    background-color: whitesmoke;
}

.full-recipe-image {
    height: 100%;
    margin: 0 auto;
    display: block;
}

.full-recipe-content {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    background-color: #def1ca;
    
}

.full-recipe-sidebar {
    box-sizing: border-box;
    width: 30%;
    padding: 2rem;
    text-align: center;

}

.small-details {
    font-style: italic;
    display: inline-block;
    margin: 1rem;
}

.full-recipe-ingredient-title {
    font-size: 1.8rem;
    font-family: 'Slabo 27px', serif;
    margin-bottom: 1rem;
    

}

.full-recipe-method-container {
    width: 70%;
    text-align: center;
    padding: 2rem;
}


.full-recipe-label {
    font-size: 1.7rem;
    margin-bottom: 3rem;
}

.full-recipe-ingredients-list {
    text-align: left;
    list-style: circle;
}

